@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.profile {
	background: rgb(18, 0, 43);
	min-height: 100vh;
	&__section {
		display: grid;
		gap: 15px;
		margin: 0 2rem;
		max-width: 900px;
		padding-bottom: 15px;
	}
	&__header {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 2rem 0;
		&__title,
		&__username {
			color: white;
			font-size: 2em;
			font-weight: bold;
			line-height: 2.7rem;
		}
		&__btn--edit {
			@include button(edit);
		}
	}
}

.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	&__input {
		padding: 10px 5px;
		border: none;
	}
}

.btn {
	margin: 0;
	&__save {
		justify-self: flex-end;
		width: 90px;
		@include button(save);
	}
	&__cancel {
		width: 90px;
		@include button(cancel);
	}
}

@media screen and (min-width: $largedevices) {
	.profile__section {
		margin: auto;
	}
}
