@import "../../../src/style/variables.scss";

.header {
	background-image: url("./img.jpeg");
	background-position: 0 -50px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	&__section {
		background: white;
		margin: 0 auto;
		padding: 2rem;
		position: relative;
		text-align: left;
		top: 2rem;
		width: 200px;
		&__title {
			font-size: 1rem;
			font-weight: bold;
			margin: 0;
		}
		&__details {
			font-size: 0.9rem;
			margin-bottom: 0;
			margin-top: 14px;
		}
	}
}
