@mixin button($type) {
	border: none;
	opacity: 1;
	transition: all 0.3s ease 0s;
	&:hover {
		cursor: pointer;
		opacity: 0.75;
	}

	@if $type == primary {
		background-color: #00bc77;
		border-color: #00bc77;
		color: #fff;
		display: block;
		font-size: 1.1rem;
		font-weight: bold;
		padding: 8px;
		width: 100%;
		text-decoration: underline;
	}

	@if $type == primary--outlined {
		background-color: #00bc77;
		border: 1px solid;
		border-color: #00bc77;
		color: #fff;
		display: block;
		font-size: 1.1rem;
		font-weight: bold;
		padding: 8px;
		width: 100%;
	}

	@if $type == secondary {
		align-items: center;
		background: transparent;
		display: flex;
		font-size: 1rem;
		font-weight: bold;
		justify-content: center;
		padding: 0;
		margin: 0;
		&:hover {
			text-decoration: underline;
		}
	}

	@if $type == edit {
		background-color: #00bc77;
		border-color: #00bc77;
		color: white;
		font-size: 11px;
		font-weight: bold;
		margin-top: 20px;
		padding: 10px;
		width: auto;
	}

	@if $type == cancel {
		background: white;
		border: 1px solid #00bc77;
		color: #00bc77;
		font-size: 11px;
		padding: 8px;
	}

	@if $type == save {
		background: #00bc77;
		color: white;
		font-size: 11px;
		padding: 8px;
		font-weight: bold;
	}
}
