@mixin button($type) {
	cursor: pointer;
	@if $type == secondary {
		align-items: center;
		background: transparent;
		border: none;
		display: flex;
		font-size: 1rem;
		font-weight: bold;
		justify-content: center;
		padding: 0;
		margin: 0;
		&:hover {
			text-decoration: underline;
		}
	}
}
