.login {
	align-items: center;
	background: rgb(18, 0, 43);
	display: flex;
	justify-content: center;
	margin: 0;
	min-height: 80vh;
	&__box {
		align-items: center;
		background: white;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		width: 300px;
		&__icon {
			height: 1rem;
		}
		&__title {
			font-size: 1.5em;
			font-weight: bold;
			margin-block-end: 0.83em;
			margin-block-start: 0.83em;
		}
	}
}
